.event-banner .wrap {
    .banner-content {
        font-size: 13px;
        text-align: left;
        padding-left: 30px;
        a {
            color: #fff;
            font-weight: 600;
            margin-left: 10px;
        }
    }
    .banner-close {
        padding-top: 10px;
    }
}
.event-banner .wrap .banner-content a::after {
    content: " >";
}