.event-popup {
    background-color: #452aea;
    width: 100%;
    color: #fff;

    .wrap {
        display: flex;

        .event-popup-content {
            padding: 10px;
            flex-grow: 1;
            text-align: center;
        }

        .event-popup-close .button {
            padding-right: 5px;
            background-color: #452aea;
            color: #fff;
        }
    }
    display: none;
}

.landing-page .event-popup {
    display: block;
}