.event-popup-div {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #{$content_background_color};
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  background-size: cover; /* Make sure the background image covers the whole div */
  background-position: center; /* Center the background image */

  .wrapper {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .event-popup-content {
    text-align: center;
    margin: 20px 20px;

    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #{$button_background_color};
        color: #{$button_text_color};
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }

    .cta-button:hover {
        background-color: #{$button_background_color};
    }
  }

  .event-popup-close {
    position: absolute;
    top: -5px;
    right: -5px;

    a {
        color: #{$content_text_color};
    }
  }

  .content-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #{$content_text_color};
  }

  .countdown-timer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .countdown-elements {
      display: flex;
      gap: 10px;
      div {
        text-align: center;
        font-weight: bold;
        color: #{$countdown_digits_color};
        padding: 10px;
        font-size: #{$countdown-digits-font-size}em;
        padding-top: 7px;
      }
      div.days {
        display: inline-block;
      }
    }
  }



}