{{#if showEventBanner}}
    <div class="event-banner">
        <div class="wrap">
            <div class="banner-content">
            {{contentText}}
            <a href="{{buttonLink}}">{{buttonText}}</a>

            </div>
            <div class="banner-close">
                <a {{on "click" this.closeBanner}} class="button">
                    <svg class="fa d-icon d-icon-times svg-icon svg-node" aria-hidden="true"><use xlink:href="#times"></use></svg>
                </a>
            </div>
        </div>
    </div>
{{/if}}