.event-popup .wrap {
    align-items: center;

    .event-popup-close {
        padding-right: 10px;
    }
    .event-popup-content {
        padding: 16px;

        a {
            margin-left: 10px;
            background-color: #fff;
            color: #452aea;
            border-radius: 12px;
            padding: 3px 15px;
        }
    }
}